.hero {
  width: 80vw;
  height: auto;
  margin: 0 auto;

  /* HEADER */
  header {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    .hero__title {
      grid-column: span 1;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      h1 {
        margin-right: 10px;
      }
    }
    .hero__navigation {
      grid-column: 5 / span 4;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      li {
        display: flex;
        justify-content: center;
        align-items: center;
        a {
          padding: 0 17px;
          font-weight: 400;
          color: #000;
        }
      }
    }
    .hero__connection {
      grid-column: 10 / 13;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      li {
        padding: 15px 40px;
        margin: 0 10px;
        a {
          color: #fa7436;
        }
        &:hover {
          background-color: #fa7436;
          border-radius: 5px;
          color: #fff;
          a:hover {
            color: #fff;
          }
        }
      }
    }
  }
  /* Fin du Header */

  /* PARTIE PROMO */
  .discover {
    margin-top: 90px;
    display: grid;
    grid-template-columns: 1fr 790px;
    grid-gap: 30px;
    .discover__left {
      display: flex;
      width: 525px;
      flex-direction: column;
      align-items: flex-start;
      h2 {
        font-family: "Volkhov", serif;
        font-size: 4rem;
        font-weight: bold;
        margin-bottom: 30px;
        span {
          color: #fa7436;
        }
      }
      p {
        font-size: 1.3rem;
        line-height: 2.5rem;
        color: #666666;
        margin-bottom: 60px;
      }
      button {
        color: #fa7436;
        padding: 1rem 1.5rem;
        background: #fff;
        border: 2px solid #fa7436;
        border-radius: 5px;
      }
    }
    .discover__right {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      .maurice__image {
        width: 530px;
        height: 530px;
        border-radius: 50%;
        position: relative;
        z-index: 2;
        img {
          height: 530px;
          width: 500px;
        }
        .backgroundplane{
          width: 780px;
          position: absolute;
          bottom: 250px;
          left: 0px;
          z-index: -1;
        }
        .little-card {
          display: flex;
          flex-direction: row;
          padding: 18px;
          border-radius: 8px;
          background: rgba(255, 255, 255, 0.75);
          box-shadow: 1px 3px 2px 1px rgba(0, 0, 255, 0.2);
          position: absolute;
          z-index: 101;
          span {
            font-weight: 500;
            font-family: 'Poppins', sans-serif;
            font-size: .8rem;
          }
          p{
            color: #666666;
            font-weight: 400;
            font-family: 'Poppins', sans-serif;
            font-size: .8rem ;
          }
          img {
            align-self:center;
            height: 32px;
            width: 32px;
            margin-right: 15px;
          }
        }
        .card-1 {
          top: 48px;
          left: -75px;
        }
        .card-2 {
          bottom: 168px;
          left: -85px;
        }
        .card-3 {
          bottom: 238px;
          right: -75px;
        }
        .orange {
          border-radius: 0 0 265px 265px;
          width: 530px;
          height: 265px;
          background: #fa7436;
          position: absolute;
          bottom: 0;
          z-index: -2;
        }
      }
    }
  }
}
