@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Volkhov:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Poppins', sans-serif; }
  body h1, body h2, body h3, body h4 {
    font-family: 'Volkhov', serif; }
  body li {
    list-style-type: none; }
  body a {
    text-decoration: none;
    font-weight: 600;
    font-size: 1rem; }

.hero {
  width: 80vw;
  height: auto;
  margin: 0 auto;
  /* HEADER */
  /* Fin du Header */
  /* PARTIE PROMO */ }
  .hero header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 0; }
    .hero header .hero__title {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center; }
      .hero header .hero__title h1 {
        margin-right: 10px; }
    .hero header .hero__navigation {
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
      .hero header .hero__navigation li {
        display: flex;
        justify-content: center;
        align-items: center; }
        .hero header .hero__navigation li a {
          padding: 0 17px;
          font-weight: 400;
          color: #000; }
    .hero header .hero__connection {
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
      .hero header .hero__connection li {
        padding: 15px 40px;
        margin: 0 10px; }
        .hero header .hero__connection li a {
          color: #fa7436; }
        .hero header .hero__connection li:hover {
          background-color: #fa7436;
          border-radius: 5px;
          color: #fff; }
          .hero header .hero__connection li:hover a:hover {
            color: #fff; }
  .hero .discover {
    margin-top: 90px;
    display: grid;
    grid-template-columns: 1fr 790px;
    grid-gap: 30px; }
    .hero .discover .discover__left {
      display: flex;
      width: 525px;
      flex-direction: column;
      align-items: flex-start; }
      .hero .discover .discover__left h2 {
        font-family: 'Volkhov', serif;
        font-size: 4rem;
        font-weight: bold;
        margin-bottom: 30px; }
        .hero .discover .discover__left h2 span {
          color: #FA7436; }
      .hero .discover .discover__left p {
        font-size: 1.3rem;
        line-height: 2.5rem;
        color: #666666;
        margin-bottom: 60px; }
      .hero .discover .discover__left button {
        color: #FA7436;
        padding: 1rem 1.5rem;
        background: #FFF;
        border: 2px solid #FA7436;
        border-radius: 5px; }
    .hero .discover .discover__right {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end; }
      .hero .discover .discover__right .maurice__image {
        width: 500px;
        height: 530px;
        overflow: hidden;
        border-radius: 50%; }
